{% extends "base.html" %}
{% load static %}

{% block title %}MecMind - Análises Técnicas{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
    <div class="header-banner">
        <div class="banner-content">
            <h1>Análises Técnicas</h1>
        </div>
    </div>

    <div class="filter-container">
        <form method="get" action="{% url 'analises_tecnicas' %}" id="filter-form">
            <div class="filter-row">
                <div class="filter-group">
                    <label for="analysis_type">Tipo de Análise:</label>

                    <select name="analysis_type" id="analysis_type">
                        <option value="">Todos</option>
                        {% for value in analysis_choices %}
                            <option value="{{ value }}" {% if selected_analysis == value %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-group">
                    <label for="date_from">Data de Início:</label>
                    <input type="date" id="date_from" name="date_from" value="{{ selected_date_from }}">
                </div>

                <div class="filter-group">
                    <label for="date_to">Data de Fim:</label>
                    <input type="date" id="date_to" name="date_to" value="{{ selected_date_to }}">
                </div>

                <div class="filter-actions">
                    <button type="submit" class="filter-button">
                        <i class="fas fa-filter"></i> Filtrar
                    </button>

                    <a href="{% url 'analises_tecnicas' %}" class="filter-button clear">
                        <i class="fas fa-times"></i> Limpar
                    </a>
                </div>
            </div>
        </form>
    </div>

    <table class="list">
        <col style="width: 200px;"> <!-- Análise -->
        <col style="width: 20px;"> <!-- Criação -->

        <thead>
            <tr>
                <th>Análise</th>
                <th>Criação</th>
            </tr>
        </thead>

        <tbody>
            {% for i in page_obj %}
                <tr>
                    <td><a class="list-link" href="{% url 'detalhe_analise_tecnica' i.id %}">Análise {{ i.analysis_name }}</a></td>
                    <td>{{ i.created_date|date:"d/m/Y H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="paginator">
        {% include 'paginator.html' %}
    </div>
{% endblock %}
