{% extends 'base.html' %}
{% load static %}

{% block title %}MecMind - Análise Técnica {{ analise.name }}{% endblock %}

{% block content %}
<div class="header-banner">
    <div class="banner-content">
        <h1>Análise Técnica: {{ analise.name }} - {{ analise.created_date|date:"d/m/Y H:i" }}</h1>
    </div>
</div>

<section class="project-detail-container">
    <div class="profile-image-container">
        <img src="{{ analise.drawing.url }}" alt="Imagem do desenho" class="drawing-image">
    </div>

    <div class="info-card">
        <div class="info-card-header">
            <i class="fas fa-user-circle"></i>
            <h4>{{ analise.user.first_name }} {{ analise.user.last_name }}</h4>
        </div>

        <div class="detail-section">
            <h5>Matéria-prima</h5>
            <p>{{ analise.raw_material|default:"Não informado." }}</p><br>

            <h5>Disponibilidade de estoque</h5>
            <p>{{ analise.recommended_stock_item|default:"Sem Disponibilidade." }}</p>
        </div>

        <div class="detail-section">
            <h5>Máquinas</h5>

            {% for machine in machines %}
                <p>• {{ machine }}</p>
            {% endfor %}
        </div>

        <div class="detail-section">
            <h5>Processos</h5>

            {% for process in processes %}
                <h4>• {{ process.nome }}</h4>
                <p>{{ process.descricao }}</p> <br>
            {% endfor %}
        </div>

        <div class="detail-section">
            <h5>Observações do Usuário</h5>
            <p>{{ analise.user_observation|default:"Nenhuma observação." }}</p>
        </div>

        <div class="detail-section">
            <h5>Observações da IA</h5>
            <p>{{ analise.ia_observation|default:"Nenhuma observação." }}</p>
        </div>
    </div>
</section>
{% endblock %}
