{% extends "base.html" %}
{% load static %}

{% block title %}MecMind - Estoque{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
    <div class="header-banner">
        <div class="banner-content">
            <h1>Estoque - {{ request.user.company }}</h1>
        </div>
    </div>

    <div class="filter-container">
        <form method="get" action="{% url 'estoque_empresa' %}" id="filter-form">
            <div class="filter-row">
                <div class="filter-group">
                    <label for="analysis_type">Categoria:</label>

                    <select name="category" id="category">
                        <option value="">Todas</option>
                        {% for value in categories %}
                            <option value="{{ value.1 }}" {% if category == value.1 %}selected{% endif %}>{{ value.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-group">
                    <label for="analysis_type">Status:</label>

                    <select name="status" id="status">
                        <option value="">Todos</option>
                        {% for value in status_choices %}
                            <option value="{{ value.1 }}" {% if status == value.1 %}selected{% endif %}>{{ value.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-group">
                    <label for="material">Material:</label>
                    <input name="material" id="material" value="{{ material }}"></input>
                </div>

                <div class="filter-actions">
                    <button type="submit" class="filter-button">
                        <i class="fas fa-filter"></i> Filtrar
                    </button>

                    <a href="{% url 'estoque_empresa' %}" class="filter-button clear">
                        <i class="fas fa-times"></i> Limpar
                    </a>
                </div>
            </div>
        </form>
    </div>

    <table class="list">
        <col style="width: 50px;"> <!-- Código -->
        <col style="width: 50px;"> <!-- Nome -->
        <col style="width: 50px;"> <!-- Categoria -->
        <col style="width: 50px;"> <!-- Material -->
        <col style="width: 50px;"> <!-- Quantidade -->
        <col style="width: 50px;"> <!-- Unidade -->
        <col style="width: 50px;"> <!-- Comprimento -->
        <col style="width: 50px;"> <!-- Largura -->
        <col style="width: 50px;"> <!-- Altura -->
        <col style="width: 50px;"> <!-- Diâmetro -->

        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Material</th>
                <th>Quantidade</th>
                <th>Unidade</th>
                <th>Comprimento</th>
                <th>Largura</th>
                <th>Altura</th>
                <th>Diâmetro</th>
            </tr>
        </thead>

        <tbody>
            {% for i in page_obj %}
                <tr>
                    <td>{{ i.code }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.category }}</td>
                    <td>{{ i.material }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.unit }}</td>
                    <td>{{ i.length }}</td>
                    <td>{{ i.width }}</td>
                    <td>{{ i.height }}</td>
                    <td>{% if i.diameter %}{{ i.diameter }}{% else %} - {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="paginator">
        {% include 'paginator.html' %}
    </div>
{% endblock %}
