{% extends "base.html" %}
{% load static %}

{% block title %}MecMind - Projetos{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
    <div class="header-banner">
        <div class="banner-content">
            <h1>Projetos - {{ request.user.company }}</h1>
        </div>
    </div>

    <div class="filter-container">
        <form method="get" action="{% url 'projetos_empresa' %}" id="filter-form">
            <div class="filter-row">
                <div class="filter-group">
                    <label for="analysis_type">Usuário:</label>

                    <select name="user_filter" id="user_filter">
                        <option value="">Todos</option>
                        {% for value in users %}
                            <option value="{{ value }}" {% if user_filter == value %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-group">
                    <label for="analysis_type">Tipo de Análise:</label>

                    <select name="analysis_type" id="analysis_type">
                        <option value="">Todos</option>
                        {% for value, text in analysis_choices %}
                            <option value="{{ value }}" {% if selected_analysis == value %}selected{% endif %}>{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-group">
                    <label for="date_from">Data de Início:</label>
                    <input type="date" id="date_from" name="date_from" value="{{ selected_date_from }}">
                </div>

                <div class="filter-group">
                    <label for="date_to">Data de Fim:</label>
                    <input type="date" id="date_to" name="date_to" value="{{ selected_date_to }}">
                </div>

                <div class="filter-actions">
                    <button type="submit" class="filter-button">
                        <i class="fas fa-filter"></i> Filtrar
                    </button>

                    <a href="{% url 'projetos_empresa' %}" class="filter-button clear">
                        <i class="fas fa-times"></i> Limpar
                    </a>
                </div>
            </div>
        </form>
    </div>

    <table class="list">
        <col style="width: 50px;"> <!-- Análise -->
        <col style="width: 50px;"> <!-- Usuário -->
        <col style="width: 50px;"> <!-- Criação -->
        <col style="width: 150px;"> <!-- M. Prima -->
        <col style="width: 150px;"> <!-- Máquinas -->

        <thead>
            <tr>
                <th>Análise</th>
                <th>Usuário</th>
                <th>Criação</th>
                <th>M. Prima</th>
                <th>Máquinas</th>
            </tr>
        </thead>

        <tbody>
            {% for i in page_obj %}
                <tr>
                    <td><a class="list-link" href="{% url 'projeto' i.id %}">Análise {{ i.analysis_name }}</a></td>
                    <td>{{ i.user }}</td>
                    <td>{{ i.created_date|date:"d/m/Y H:i" }}</td>
                    <td><span title="{{ i.raw_material }}">{{ i.raw_material|truncatechars:40 }}</span></td>
                    <td><span title="{{ i.machines }}">{{ i.machines|truncatechars:40 }}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="paginator">
        {% include 'paginator.html' %}
    </div>
{% endblock %}
